.infoCardContainer{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0;
}
.infoCardHeadline{
    color: black;
    font-weight: bold;

}
.infoCardCallActionContainer :global(.vtex-button) :hover{
    background: white;
}
.infoCardHeadline--vintage{
    background: #EDCFD1

}
.infoCardContainer--metal {
    background: #e1e1e1;
  }

