.infoCardContainer{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0;
}
.infoCardHeadline{
    color: black;
    font-weight: bold;

}
.infoCardCallActionContainer :hover{
    background-color: white;
}
.infoCardContainer--metal {
    background-color: #e1e1e1;
  }

